{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOP GENERATION TOOL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="container">
        <header>SOP generation Tool</header>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="input-box">
                <label for="{{ form.read.id_for_label }}">Fluency in Reading:</label>
                {{ form.read }}
               
                {% if request.method == 'POST' %}
                    {{ form.read.errors }}
                {% endif %}
            </div>
            <div class="input-box">
                <label for="{{ form.write.id_for_label }}">Fluency in Writing:</label>
                {{ form.write }}
                
               
                {% if request.method == 'POST' %}
                    {{ form.write.errors }}
                {% endif %}
            </div>
            <div class="input-box">
                <label for="{{ form.speak.id_for_label }}">Fluency in Speaking:</label>
                {{ form.speak }}     
               
                {% if request.method == 'POST' %}
                    {{ form.speak.errors }}
                {% endif %}
            </div>
            <div class="input-box">
                <label for="{{ form.listen.id_for_label }}">Fluency in Listening:</label>
               
                {{ form.listen}}
               
                {% if request.method == 'POST' %}
                    {{ form.listen.errors }}
                {% endif %}
            </div>
            <button type="submit">Submit</button>
        </form>
    </section>
</body>
</html>
